.iFrameContainer{
    overflow: hidden;
    max-width: calc(100% + 40px);
    width: 120%;
    margin-left: -20px;
    height: calc(100vh - 35px);
}

.iFrame{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 900px){
    .iFrameContainer {
        height: calc(100vh - 80px - 40px);
    }
}
