.cardGroup{
    margin: 0 -20px;
    max-width: calc(100% + 40px);
    width: calc(100% + 40px);
    border: 1px solid #000;
    padding: 0;
    background: #000;

    .card{
        border-left: 1px solid #000 !important;

        .img{
            aspect-ratio: 16/9; /* HD ratio */
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }
}