.counsellorsBlock{
    padding: 20px 0;
    margin: 20px 0;
}

@media screen and (min-width: 900px) {
    .scrollableContainer{
        margin: 0 -40px;

        .scrollBtn{
            top:54%;
        }
        .scrollBtn:first-child{
            left: 23px;
        }
        .scrollBtn:last-child{
            right: 23px;
        }
    }
}
