.titleHeader{
    margin-left: -20px;
    border-bottom: 1px solid #000;
    margin-bottom: 24px;
    width: 120%;
    max-width: calc(100% + 38px);
    position: relative;
    padding-top: 24px;
    padding-left: 10px;

    .h1{
        font-size: 72px;
    }
    .subtitle{
        font-size: 24px;
    }

    .smiley{
        width: 92px;
        height: 92px;
        /*position: absolute;*/
        /*top:24px;*/
        /*right:24px;*/
        /*z-index: 5;*/
        display: inline-block;
        margin-left: 30px;
        position: relative;
        top: -14px;

        object-fit: cover;
        background: url('/img/bigSmiley.png') no-repeat;
        background-position-x: -14px;
        background-position-y: -14px;
        background-size: 120px 120px;
        border-radius: 50%;
        cursor: pointer;
        animation: 10s linear 0s infinite normal none paused smiley;

        &:hover{
            animation-play-state: running;
        }
    }

    .tag {
        font-size: 22px;
        font-weight: normal;
        border: 2px solid #000;
        border-radius: 16px;
        background-color: transparent !important;
        color: #000;
        width: auto;
        cursor: pointer;
        transition: .3s;
        padding: 0;
        margin: 0 12px 12px 0;

        .tagLink{
            color: #000;
            text-decoration: none;
            transition: .3s;
            width: 100%;
            height: 100%;
            display: inline-block;
            padding: 8px 16px;
            &:hover{
                color: #fff;
            }
        }

        &:hover{
            background-color: #000 !important;
            color: #fff;
        }
    }
}

.titleHeader h1{
    width: 80%;
}

@keyframes smiley {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 900px){
    .titleHeader{

        .h1{
            font-size: 38px;
        }
        .subtitle{
            font-size: 20px;
        }
        .smiley{
            transform: scale(0.7) !important;
            top:0;
            /*right: 0;*/
            margin-left: 0;
        }

        .tag {
            font-size: 11px;
            border-radius: 8px;
            margin: 0 6px 6px 0;
            .tagLink{
                padding: 4px 8px;
            }
        }
    }
}
