.loginRow{
    background: #ffffff;
    padding: 30px;
    border: 2px solid #000000;
    margin-top: calc( 50vh - 230px );
}
.loginRow input{
    border: 2px solid #000;

    &:focus{
        border-color: #aaa;
        box-shadow: 0 0 0 .25rem rgba(130, 130, 130, .25);
    }
}

.loginImageRow{
    border-radius:10px 0 0 10px;
    border-right: none;
}
.loginFormRow{
    border-radius:0 10px 10px 0;
    border-left: none;
}
.link{
    border: 2px solid #666;
    border-radius: 20px;
    font-size: 13px;
    color: #666;
    text-decoration: none;
    position: relative;
    padding-right: 40px;
    &:hover{
        background-color: #666;
        color: #fff;
    }
}

.link i{
    font-size: 32px;
    position: absolute;
    top: -9px;
    right: -1px;
}

@media (max-width: 992px) {
    .loginRow{
        background: #ffffff;
        padding: 30px;
        border: 2px solid #000000;
        margin-top: 0;
    }

    .loginImageRow{
        border-radius:10px 10px 0 0;
        border-right: 2px solid #000000;
        border-bottom: none;
    }
    .loginFormRow{
        border-radius:0 0 10px 10px;
        border-left: 2px solid #000000;
        border-top: none;
    }
}
