/* Layout */
html, body{
    padding: 0;
    margin: 0;
}
.mainMenu{
    position:absolute;
    top:0;
    width:250px;
    height: 100%;
    padding: 0;
    margin: 0;
    border-right: 1px solid #000;
    overflow: hidden;
    background: white;
}

.mainContent{
    padding: 20px;
    margin: 0 0 40px 250px;
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #ccc;
    text-align: right;
    height: 20px;
    padding: 10px;
    margin: 0 0 0 250px;
    font-size: 14px;

    border-top: 1px solid #000;
}
/* END Layout */
