/* components/tools/MoodTracking.module.css */
/*.filterTag {
    font-size: 1.1rem;
    font-weight: 450;
    border-radius: 50px;
    margin-top: 0.1rem;
    margin-left: -0.2rem;
    border: 1px solid #000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 1rem;
    transition: background 0.3s ease, color 0.3s ease;
    color: #000;
    background-color: #f0f0f0;
    cursor: pointer;
    height: 2.7rem;
}

.filterTag:first-child {
    margin-left: 0;
}

.filterTag.active {
    background-color: rgba(69, 165, 229, 1);
    color: #fff;
    border-color: rgba(69, 165, 229, 1);
}

.filterTag.hover {
    background-color: #000;
    color: #fff;
}


.moodButton {
    background: none;
    border: none;
    box-shadow: none !important;
}

.noteTextarea {
    border-radius: 10px;
    min-height: 100px;
    font-size: 0.9rem;
}

.emojiReward {
    z-index: 40;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
*/
/*.periodicCard {
    border: 1px solid #000;
    box-shadow: none;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    padding: 1rem;
}
.moodCard {
    border: 1px solid #000;
    box-shadow: none;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}*/

.card{
    border: 1px solid #000;
    background-color: var(--greenLight);
    margin-bottom: 20px;
    min-height: 442px;

    .h4{
        padding: 20px 0;
        text-align: center;
    }

    .noteRow{
        height: 100px;
        .noteBtn{
            border: none;
            background-color: transparent;
            margin-bottom: 40px;
            color: rgba(0, 0, 0, 0.3);
            &:hover{
                color: #000;
            }
        }
        .noteTextarea{
            min-width: 250px;
            width: 100%;
        }

    }

    .navBtn{
        border-radius: 50%;
        width: 46px;
        height: 46px;
        background-color: rgba(255, 255, 255, 0.3);
        &:hover{
            background-color: #000;
        }
    }
    .navBtn i{
        font-size: 18px;
    }

    .calendarRow{
        height: 540px;
        margin-bottom: 20px;
    }

    .yearContainer{
        position: relative;
        display: inline-block;
        width: 175px
    }
    .primaryBtn{
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 23px;
        width: 150px;
        height: 46px;
        &:hover{
            background-color: #000;
        }
    }
}

.cardPixels{
    background-color: var(--redLight);
}

.confettiWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Year Pixels */
.dayPixel {
    cursor: pointer;
    margin: 0.15rem;
    border-radius: 0.25rem;
    height: 1.5rem;
    width: 1.5rem;
}

.todayPixel {
    box-shadow: inset 0 0 0 2px #000 !important;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

/* Dynamically set background color for each day pixel */
.moodPixel-1 { background-color: rgba(255, 99, 132, 0.8); }
.moodPixel-2 { background-color: rgba(255, 159, 64, 0.8); }
.moodPixel-3 { background-color: rgba(255, 205, 86, 0.8); }
.moodPixel-4 { background-color: rgba(75, 192, 192, 0.8); }
.moodPixel-5 { background-color: rgba(115, 171, 132, 0.8); }
.moodPixel-minus-1 {
    background-color: rgba(255, 255, 255, 0.3);
    transition-duration: .2s;
    &:hover {
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.yearPicker {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #faeaeb;
    border: 2px solid #000;
    border-radius: 23px;
    padding: 20px 10px;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    width: 150px;

    .yearOption {
        border: none;
        background-color: #f8e2e3;
        padding: 0.3rem 0.5rem;
        border-radius: 3px;
        cursor: pointer;
        font-size: 0.9rem;
    }

    .yearOption:hover {
        background-color: #000;
        color: white;
    }

    .activeYear {
        background-color: #000;
        color: white;
    }

    .pickerCloseButton {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 1rem;
        color: #555;
    }

    .pickerCloseButton:hover {
        color: #fff;
    }
}
